.flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  background-color: $white;
  margin: 0 auto;
  align-items: flex-start;

  .item {
    align-self: center;
  }

  &_quarters {
    flex-flow: row wrap;

    @include respond-to(tablet) {
      flex-flow: row wrap;
    }

    .item {
      width: 50%;

      @include respond-to(tablet) {
        width: 25%;
      }

    }
  }

}

.single-pokemon {
  padding: 20px;

  p {
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}